<html>
    <body>
        <table border="1px">
            <tr>
                <td>Id</td>
                <td>Titulo</td>
                <td>Descrição</td>
                <td>Preço</td>
            </tr>
            <% listas.forEach(lista => {%>
                <tr>
                    <td><%= lista.id %></td>
                    <td><%= lista.titulo %></td>
                    <td><%= lista.preco %></td>
                    <td><%= lista.descricao%></td>
                </tr>
            <% }); %>
        </table>
    </body>
</html>