<html>
    <body>
        <table border="1px">
            <tr>
                <td>Id</td>
                <td>Nome</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Node.js e Express</td>
            </tr>
        </table>
    </body>
</html>